<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>

        <add id="Perspective_Them14Helloworld::them14helloworld" title="Hello World" module="Perspective_Them14Helloworld" sortOrder="51" resource="Perspective_Them14Helloworld::them14helloworld"/>

        <add id="Perspective_Them14Helloworld::post" title="Manage Posts" module="Perspective_Them14Helloworld" sortOrder="10" action="perspective_them14helloworld/post" resource="Perspective_Them14Helloworld::post" parent="Perspective_Them14Helloworld::them14helloworld"/>

        <add id="Perspective_Them14Helloworld::hello_configuration" title="Configuration" module="Perspective_Them14Helloworld" sortOrder="99" parent="Perspective_Them14Helloworld::them14helloworld" action="adminhtml/system_config/edit/section/them14helloworld" resource="Perspective_Them14Helloworld::them14helloworld_configuration"/>

    </menu>

</config>
